<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.bill.mapper.PayChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tre.bill.domain.po.PayChannel">
        <id column="channelid" property="channelid" />
        <result column="mchid" property="mchid" />
        <result column="payid" property="payid" />
        <result column="tradetype" property="tradetype" />
        <result column="apptoken" property="apptoken" />
        <result column="state" property="state" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        channelid, mchid, payid, tradetype, apptoken, state, createtime, updatetime
    </sql>

</mapper>
